.book-tile {
    min-width: 100px;
    min-height: 180px;
    padding: 8px;
    border-radius: 12px;
}

.book-tile .cover {
    min-width: 100px;
    min-height: 150px;
    border-radius: 8px;
    background: @theme_bg_color;
}

.book-tile .title {
    min-height: 30px;
    margin-top: 6px;
}